.body{
    height: 721px;
    background-color: #B98A6C;
    display: flex;
    justify-content: space-between;
}
.fileiraUm{
    height: 721px;
    width: 281px;
    transform: rotate(180deg);
}
.fileiraDois{
    width: 301px;
    height: 720px;
}
.meio{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.lanche{
    width: 564px;
    height: 358px;
    margin-top: 1px;
}
.texto{
    color: var(--darkBrown);
    font-size: 60px;
}
.descricao{
    margin: 0px 0px 50px 0px;
    width: 459px;
    height: 69px;
    color: var(--descriptionColor);
    font-size: 24px;
    text-align: center
}
.botao{
    width: 183px;
    height: 57px;
    border-radius: 28.5px;
    background-color: var(--darkBrown);
    color: var(--lightBrown);
    font-size: 20px;
}